version: '3.7'

services:
  suricata:
    image: jasonish/suricata:latest
    container_name: suricata
    restart: always
    network_mode: "host"
    volumes:
      - ./logs:/var/log/suricata
    command: >
      suricata -i {{ interface | default('eth0') }} -c /etc/suricata/suricata.yaml --af-packet