version: '3.7'

services:
  suricata:
    image: jasonish/suricata:latest
    container_name: suricata
    restart: always
    network_mode: "host"
    volumes:
      - ./logs:/var/log/suricata
      - ./config/suricata.yaml:/etc/suricata/suricata.yaml:ro
    command: >
      suricata -i {{ interface | auto_interface }} -c /etc/suricata/suricata.yaml --af-packet