version: '3.7'

services:
  wazuh.indexer:
    image: wazuh/wazuh-indexer:4.14.0
    hostname: wazuh.indexer
    restart: always
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
    volumes:
      - wazuh-indexer-data:/var/lib/wazuh-indexer
      - ./config/wazuh_indexer/opensearch.yml:/usr/share/wazuh-indexer/opensearch.yml
      - ./certs/wazuh_indexer/ca.pem:/usr/share/wazuh-indexer/certs/ca.pem
      - ./certs/wazuh_indexer/wazuh-indexer.pem:/usr/share/wazuh-indexer/certs/wazuh-indexer.pem
      - ./certs/wazuh_indexer/wazuh-indexer.key:/usr/share/wazuh-indexer/certs/wazuh-indexer.key

  wazuh.manager:
    image: wazuh/wazuh-manager:4.14.0
    hostname: wazuh.manager
    restart: always
    depends_on:
      - wazuh.indexer
    ports:
      - "1514:1514/udp"
      - "1515:1515"
      - "1516:1516"
      - "55000:55000"
    volumes:
      - wazuh-manager-data:/var/ossec/data
      - ./config/wazuh_cluster/ossec.conf:/var/ossec/etc/ossec.conf
      - ./certs/wazuh_cluster/ca.pem:/var/ossec/etc/certs/ca.pem
      - ./certs/wazuh_cluster/wazuh-manager.pem:/var/ossec/etc/certs/wazuh-manager.pem
      - ./certs/wazuh_cluster/wazuh-manager.key:/var/ossec/etc/certs/wazuh-manager.key
    environment:
      - "WAZUH_ALERTS_INDEX=wazuh-alerts"

  wazuh.dashboard:
    image: wazuh/wazuh-dashboard:4.14.0
    hostname: wazuh.dashboard
    restart: always
    depends_on:
      - wazuh.indexer
    ports:
      - "443:5601"
    volumes:
      - ./config/wazuh_dashboard/opensearch_dashboards.yml:/usr/share/wazuh-dashboard/config/opensearch_dashboards.yml
      - ./certs/wazuh_dashboard/ca.pem:/usr/share/wazuh-dashboard/certs/ca.pem
      - ./certs/wazuh_dashboard/wazuh-dashboard.pem:/usr/share/wazuh-dashboard/certs/wazuh-dashboard.pem
      - ./certs/wazuh_dashboard/wazuh-dashboard-key.pem:/usr/share/wazuh-dashboard/certs/wazuh-dashboard-key.pem
    environment:
      - "DASHBOARD_USERNAME=kibanaserver"
      - "DASHBOARD_PASSWORD={{ admin_password }}"

volumes:
  wazuh-indexer-data:
  wazuh-manager-data: